/* .col-8{
    display: flex;
    width :250;
    height :250;
} */
/* .col{
    display: flex;
    width :250;
    height :250;
} */
body { 
    overflow-x: hidden; /* Hide horizontal scrollbar */ 
}

a.nav-link {
    color: white;
}
/* .position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary {
    background-image: url('static/L1.jpg');
    background-size: cover;
    height: auto; 
    width: auto;
} */